<div class="screen">
</div>
<div class="modal">
  <div class="modal-content">
    <% if(board.id) { %>
      <h3><b>Edit your board</b> <%= board.escape("title") %></h3>
    <%  } else { %>
      <h2>Create a board</h2>
    <%  } %>
    <form class="board" method="post">
    <ul>
      <label for="board_title">Title:</label>
      <input id="board_title"
             type="text"
             name="board[title]"
             value="<%= board.escape("title") %>">
      <label for="board_description">Description:</label>
      <textarea id="board_description"
                name="board[description]"
                rows="8" cols="40"><%= board.escape("description") %></textarea>
      <label for="board_category">Category:</label>
      <select id="board_category" name="board[category]">
        <% Simterest.Globals.boardCategories.forEach(function(category) { %>
          <option value="<%= category %>"><%= category %></option>
        <%  }); %>
      </select>
      <label for="board_secret">Secret Board:</label>
      <input id="board_secret"
             type="checkbox"
             name="board[secret]"
             value="true">
    </ul>
      <% if(board.id) { %>
        <button class="delete">Delete Board</button>
        <button class="submit">Edit</button>
      <%  } else { %>
        <button class="submit">Create</button>
      <%  } %>
        <button class="cancel">Cancel</button>
    </form>
  </div>
</div>
