<% if (result.attributes.title) { %>
  <a href="#/<%= result.escape("creator_slug") %>/<%= result.get("slug") %>"><%= result.escape("title") %></a>
<% } else if (result.attributes.username) { %>
  <a href="#/<%= result.get("slug") %>"><%= result.escape("username") %></a>
<% } %>
