<!DOCTYPE html>
<html>
<head>
  <title>Simterest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <a class="profile-link" href="/#<%= current_user.id %>">Your Profile</a>
    <button class="sign-out">Sign Out</button>
  <% else %>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>
<%= yield %>

</body>
</html>
